In [1]:
import pandas as pd

In [2]:
# codebook
# https://www.federalreserve.gov/consumerscommunities/files/SHED-2019-codebook.pdf
d = pd.read_csv('https://github.com/brendanrbrown/stor155_sp21/raw/main/data/shed_survey.csv')

In [3]:
# D1A is whether worked last month for pay
# D1E is whether wanted to work more than did
d.head()

,CaseID,Duration,B2,B7_a,B7_b,D1A,D1E,EF3_a,EF3_b,EF3_c,EF3_d,EF3_e,EF3_f,EF3_g,EF3_h
0,1,24665,doing okay,poor,poor,no,yes,yes,no,yes,no,no,no,yes,no
1,2,721,doing okay,good,good,no,yes,no,no,yes,no,no,no,no,no
2,3,937,doing okay,good,good,yes,no,yes,no,no,no,no,no,no,no
3,4,1066,just getting by,only fair,good,yes,no,no,no,yes,no,no,no,no,no
4,5,1441,living comfortably,good,good,no,no,no,no,yes,no,no,no,no,no

In [16]:
dtab = d.groupby(['D1A', 'D1E']).size().reset_index('D1E').pivot(columns = 'D1E', values = 0)
dtab

D1E    no   yes
D1A
no   3517  1270
yes  4960  2405

In [17]:
dtab.sum()

D1E
no     8477
yes    3675
dtype: int64

In [29]:
dtab.sum(axis = 1)

D1A
no     4787
yes    7365
dtype: int64

In [30]:
dtab.sum(axis = 1).sum()

12152

In [31]:
dtab.sum(axis = 0).sum() == dtab.sum(axis = 1).sum()

True