# hw 5

## due Tuesday, March 9 at 12:30 pm

### data: `beauty.csv` or `beauty.xlsx`

In this homework, we will sample from lines of dialog in the old Disney movie, Beauty and the Beast.

This is inspired pudding.cool's analysis gender in Disney dialog, here

https://pudding.cool/2017/03/film-dialogue/

I grabbed the full text of Beauty and the Beast from here

http://www.fpx.de/fp/Disney/Scripts/BeautyAndTheBeast.txt

then did some data cleaning to put it in this format.

#### structure

- each observation is a line of dialog from the movie
- `person` column identifies the speaker
- `line` is the text of the line spoken

## Q1

- **load** the dataset using pandas/excel in the usual way for homework
- **create** a new spreadsheet (pandas: can use a Series or DataFrame, your choice) with the proportion (or percentage in excel) of lines each `person` speaks in the movie.

**Excel users: You must do this entirely within a pivot table.**

*Hint: excel users will need to create a pivot table and use the value field settings to get percentages. Python users will need to use the groupby method. See previous homeworks for similar tasks.*

In [1]:
import pandas as pd

In [2]:
d = pd.read_csv('https://github.com/brendanrbrown/stor155_sp21/raw/main/data/beauty.csv')

In [3]:
ptrue = d.person.value_counts(normalize = True)
ptrue

BELLE            0.196557
BEAST            0.113343
LUMIERE          0.096126
MAURICE          0.094692
GASTON           0.094692
COGSWORTH        0.086083
MRS. POTTS       0.061693
LEFOU            0.050215
CHIP             0.034433
ALL              0.022956
MOB              0.010043
FEATHERDUSTER    0.010043
BOOKSELLER       0.008608
WARDROBE         0.008608
ARQUE            0.007174
OLD CRONIES      0.005739
WOMAN 1          0.005739
WOMAN 4          0.004304
WOMAN 3          0.004304
BAKER            0.004304
MAN 4            0.004304
MEN              0.004304
BOTH             0.004304
MAN 1            0.004304
MAN 2            0.002869
MERCHANT         0.002869
WOMAN 2          0.002869
MAN 5            0.002869
DRIVER           0.002869
PRINCE           0.002869
BIMBETTES        0.002869
CRONY 1          0.002869
MAN 3            0.002869
TOWNSFOLK        0.002869
BIMBETTE 1       0.001435
MAN              0.001435
BIMBETTE 3       0.001435
OBJECTS          0.001435
NARRATOR         0.001435
MUGS             0.001435
CHORUS           0.001435
MAN 6            0.001435
WOMAN 5          0.001435
TOWNSFOLK 4      0.001435
BYSTANDERS       0.001435
CRONY 3          0.001435
TOWNSFOLK 1      0.001435
TOWNSFOLK 2      0.001435
GROUP 2          0.001435
GROUP 1          0.001435
BARBER           0.001435
BIMBETTE 2       0.001435
CRONY 2          0.001435
STOVE            0.001435
PIERRE           0.001435
TOWNSFOLK 3      0.001435
TOWNSFOLK 5      0.001435
WRESTLER         0.001435
Name: person, dtype: float64

## Q2

**Create** a new data frame / spreadsheet with 

- `person` and `line` variables
- which takes a **random sample of size 50 with replacement** from the observations in the original dataset

*Hint for excel users: While the desktop version has some shortcuts, there is a simple way to do this no matter what version you use. First, create a column called `sample_row` that uses the RANDBETWEEN function to sample a random row number. You will need to use COUNTA within RANDBETWEEN to get the correct number of rows. Then, use the INDEX function to get the sampled `person` and `line` values for that row.*

*Hint for python users: Look at the pandas documentation for the .sample() method. Be sure to look at the argument for sampling with replacement --- replacement is not the default.*

In [4]:
dsamp = d.sample(50, replace = True)

In [5]:
dsamp.head()

            person                                               line
451        LUMIERE                                Mountains of books!
95           BELLE           Don't you talk about my father that way!
641      COGSWORTH  Warn the master.  If it's a fight they want,;w...
390  FEATHERDUSTER                    ;I've been burnt by you before!
207        LUMIERE  Don't you see?  She's the one. The girl we hav...

## Q3

**Create** a new data frame / spreadsheet with the proportion (or percentage in excel) of lines each `person` speaks **in your sample dataset**.

In [6]:
psamp = dsamp.person.value_counts(normalize = True)
psamp

BELLE            0.16
COGSWORTH        0.14
MAURICE          0.12
LUMIERE          0.12
BEAST            0.10
MRS. POTTS       0.08
LEFOU            0.04
GASTON           0.04
CHIP             0.04
FEATHERDUSTER    0.04
WOMAN 1          0.02
MERCHANT         0.02
WARDROBE         0.02
GROUP 2          0.02
PRINCE           0.02
OBJECTS          0.02
Name: person, dtype: float64

## Q4

**Calculate the absolute difference**  between the true proportion of lines spoken (from Q1) and the corresponding sample proportion (from Q3) for the **following characters:**

- Belle
- Beast
- Gaston

The absolute difference between two numbers $x, y$ is $|x-y|$.

In [7]:
# notice I haven't save the output to any object --- just an fyi
pd.DataFrame({'ptrue': ptrue, 'psamp': psamp}).dropna().assign(diffp = lambda x: abs(x.psamp - x.ptrue))

                  ptrue  psamp     diffp
BEAST          0.113343   0.10  0.013343
BELLE          0.196557   0.16  0.036557
CHIP           0.034433   0.04  0.005567
COGSWORTH      0.086083   0.14  0.053917
FEATHERDUSTER  0.010043   0.04  0.029957
GASTON         0.094692   0.04  0.054692
GROUP 2        0.001435   0.02  0.018565
LEFOU          0.050215   0.04  0.010215
LUMIERE        0.096126   0.12  0.023874
MAURICE        0.094692   0.12  0.025308
MERCHANT       0.002869   0.02  0.017131
MRS. POTTS     0.061693   0.08  0.018307
OBJECTS        0.001435   0.02  0.018565
PRINCE         0.002869   0.02  0.017131
WARDROBE       0.008608   0.02  0.011392
WOMAN 1        0.005739   0.02  0.014261

## Q5

**Write** one or two sentences using concepts from class about why the difference calculated in Q4 should *or* should not be close to zero.

I am not actually asking you to evaluate whether the answer from Q4 is 'close enough' or anything like that --- just tell me conceptually whether it should be 'close' and why or why not.

**A:** All you need to say is something along the lines of: We have the entire population of data (lines from B&tB), and we took a random sample. Therefore, if our sample is big enough, the proportion of lines Belle and co. speak should be close-ish to the true proportion. 

This is a warmup for work later in class on how to evaluate how the size of the sample affects your error.